.password-storage-file {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .password-storage-file p {
    margin: 5px 0;
  }
  
  .password-storage-file button {
    margin-right: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color: black;
    color: #fff;
    cursor: pointer;
  }
  
  .password-storage-file input[type="text"] {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 10px;
  }
  
  .password-storage-file button:hover {
    background-color: #0056b3;
  }
  