.password-storage-file {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 15px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.password-storage-file p {
  margin: 5px 0;
}

.password-storage-file .top-right-icons {
  position: absolute;
  top: 10px;
  right: 10px;
}

.password-storage-file .action-icons button {
  color: black;
  background: none;
  width: 25px;
  height: 25px;
  border: none;
  cursor: pointer;
  padding: 3px;
  margin-right: 2px;
}

.password-storage-file .action-icons button:hover {
  background-color: #f1f1f1;
}

.password-storage-file .password-field {
  display: flex;
  align-items: center;
}

.password-storage-file .password-field span {
  margin-right: 5px;
}

.password-storage-file .password-input {
  display: flex;
  align-items: center;
}

.password-storage-file .password-input input {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.password-storage-file .password-input .action-icons {
  margin-left: 5px;
}

.password-storage-file input[type="text"] {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 10px;
  width: 60%;
}

.password-storage-file button {
  padding: 5px 10px;
  padding: 6px;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: #fff;
  cursor: pointer;
  margin-right: 7px;
}

.password-storage-file button:hover {
  background-color: #333333;
}
